* {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
    background: #1a1a1a;
}

body {
    height: 100vh;
}

.container {
    display: flex;
    height: 100vh;
}

.header {
    font-size: 20px;
    color: #fff;
}
